<%- include("../layouts/header", {title: 'Lista de Pessoas'}) %>

<%- include("../layouts/menu") %>

<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <h1 class="title size-4">Listas de Clientes</h1>
        </div>
        <div class="column is-one-fifth">
          <div class="buttons is-pulled-right">
            <a href="/pessoas/novo" class="button is-success is-small">Novo cliente</a>
            <a href="/" class="button is-small">Voltar</a>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <% pessoas.forEach(pessoa =>{ %>
        <div class="column is-one-quarter">
          <div class="card has-background-white-ter">
            <div class="card-content">
              <p class="subtitle is-size-5">
                Nome <%= pessoa.nome %>
              </p>
              <p class="subtitle is-size-5">
                Rua: <%= pessoa.endereco.rua %>
                Cidade: <%= pessoa.endereco.cidade %>
              </p>
            </div>
            
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>

  <%- include("../layouts/footer") %>